body{
	font-family: "Montserrat",roboto;
}
.text-underline{
	text-decoration: underline;
	text-decoration-color: blueviolet;
}

.list-style-none{
	list-style: none;
}

input{
	background-color: transparent;
	border: 1px solid white;
	width: 250px;
	color: white;
}
textarea{
	background-color:transparent ;
	color: white;
	border: 1px solid white;

}

.blueviolet{
	color: blueviolet !important;


}

.btn-subtmi{
	border: none;
	padding: 4px;
}

@media screen and (max-width: 575px){
	

	header{
		display: flex;
		flex-direction: column;
	}

	header img{
		width: 300px;
	}

	nav{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.my-name{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.social-media{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.prologo{
		display: flex;
		flex-direction: column-reverse;
		text-align: center;
		width: 100%;
	}
	.personal-info{
		width: 90%;
	}
	.basic-skills{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: center;
		align-items: center;
	}
	.basic-skills img{
		width: 290px;
	}
	.frameworks-skills{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: center;
		align-items: center;
	}
	.frameworks-skills img{
		width: 290px;
	}
	.proyect-1{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		}
	.proyect-1 img{
		width: 350px;
	}
	.proyect-2{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		}
	.proyect-2 img{
		width: 350px;
	}

	.proyect-description{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}

	footer section{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.info-contac{
		width: 95%;
	}
	.contact-social-media{
		display: flex;
		flex-direction: column;
	}
	.my-name-2{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.social-media-2{
		display: flex;
		justify-content: center;
	}

}